@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
#c {
  width: 100vw;
  height: 100vh;
  display: block;
}
div {
	appearance: auto;
	position: absolute;
	left: 500px;
}
div label {
	position: absolute;
	text-align: end;
	left:-150px;
	width:150px;
	white-space: nowrap;
}

input[alt]:hover::after {
    content: attr(alt);
    position: absolute;
    font-size: .7em;
    top: -80%;
    left: 0;
    background: antiquewhite;
    border: 1px rgb(246, 227, 202) solid;
    border-radius: 2px;
    width: max-content;
    padding: 3px;
    z-index: 500;
  }